:root {
  --dark--100: #101214;
  --dark-0: #161a1d;
  --dark-100: #1d2125;
  --dark-200: #22272b;
  --dark-250: #282e33;
  --dark-300: #2c333a;
  --dark-350: #38414a;
  --dark-400: #454f59;
  --dark-500: #596773;
  --dark-600: #738496;
  --dark-700: #8c9bab;
  --dark-800: #9fadbc;
  --dark-900: #b6c2cf;
  --dark-1000: #c7d1db;
  --dark-1100: #dee4ea;
}
