:root {
  --light-0: #ffffff;
  --light-100: #f7f8f9;
  --light-200: #f1f2f4;
  --light-300: #dcdfe4;
  --light-400: #b3b9c4;
  --light-500: #8590a2;
  --light-600: #758195;
  --light-700: #626f86;
  --light-800: #44546f;
  --light-900: #2c3e5d;
  --light-1000: #172b4d;
  --light-1100: #091e42;
}
