:root {
  --purple-100: #f3f0ff;
  --purple-200: #dfd8fd;
  --purple-300: #b8acf6;
  --purple-400: #9f8fef;
  --purple-500: #8f7ee7;
  --purple-600: #8270db;
  --purple-700: #6e5dc6;
  --purple-800: #5e4db2;
  --purple-900: #352c63;
  --purple-1000: #2b273f;
}
