:root {
  --red-100: #ffeceb;
  --red-200: #ffd5d2;
  --red-300: #fd9891;
  --red-400: #f87168;
  --red-500: #f15b50;
  --red-600: #e2483d;
  --red-700: #c9372c;
  --red-800: #ae2e24;
  --red-900: #5d1f1a;
  --red-1000: #42221f;
}
