:root {
  --yellow-100: #fff7d6;
  --yellow-200: #f8e6a0;
  --yellow-300: #f5cd47;
  --yellow-400: #e2b203;
  --yellow-500: #cf9f02;
  --yellow-600: #b38600;
  --yellow-700: #946f00;
  --yellow-800: #7f5f01;
  --yellow-900: #533f04;
  --yellow-1000: #332e1b;
}
