.root {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > label {
    margin-bottom: 0.25rem;
  }

  & > span {
    margin-top: 0.15rem;
    color: var(--error-text-color);
  }
}
